:root {
    /* types */
    --type-bug: #94bc4a;
    --type-dark: #736c75;
    --type-dragon: #6a7baf;
    --type-electric: #e5c531;
    --type-fairy: #e397d1;
    --type-fighting: #cb5f48;
    --type-fire: #ea7a3c;
    --type-flying: #7da6de;
    --type-ghost: #846ab6;
    --type-grass: #71c558;
    --type-ground: #cc9f4f;
    --type-ice: #70cbd4;
    --type-normal: #aab09f;
    --type-poison: #b468b7;
    --type-psychic: #e5709b;
    --type-rock: #b2a061;
    --type-steel: #89a1b0;
    --type-water: #539ae2;
}

/* types */
.Bug {
    background-color: var(--type-bug);
}

.Dark {
    background-color: var(--type-dark);
}

.Dragon {
    background-color: var(--type-dragon);
}

.Electric {
    background-color: var(--type-electric);
}

.Fairy {
    background-color: var(--type-fairy);
}

.Fighting {
    background-color: var(--type-fighting);
}

.Fire {
    background-color: var(--type-fire);
}

.Flying {
    background-color: var(--type-flying);
}

.Ghost {
    background-color: var(--type-ghost);
}

.Grass {
    background-color: var(--type-grass);
}

.Ground {
    background-color: var(--type-ground);
}

.Ice {
    background-color: var(--type-ground);
}

.Normal {
    background-color: var(--type-normal);
}

.Poison {
    background-color: var(--type-poison);
}

.Psychic {
    background-color: var(--type-psychic);
}

.Rock {
    background-color: var(--type-rock);
}

.Steel {
    background-color: var(--type-steel);
}

.Water {
    background-color: var(--type-water);
}